_site
_posts
assets/js/compiled-js.js.js
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
*.html
!index.html

node_modules/
index-test-version.html
*.log

Gemfile
Gemfile.lock

_config.yml

*.markdown

media/
